---
const entrenadores = [
  {
    nombre: "Edward Roquebert",
    foto: "/entrenadores/edward-roquebert.jpg",
    cargo: "Coordinador / Licencia entrenador B CONMEBOL",
    descripcion:
      "Con más de 4 años de experiencia en formación de juveniles y formativo en Panamá.",
  },
  {
    nombre: "Rufino Torres",
    foto: "/entrenadores/rufino-torres.jpg",
    cargo: "Entrenador Categoría Sub-12 / Licencia C FEPAFUT",
    descripcion: "Experiencia en academias y equipos profesionales de futbol.",
  },
  {
    nombre: "Astrid Diaz",
    foto: "/entrenadores/astrid-diaz.jpg",
    cargo: "Entrenador Categoría Sub-6 / Selección nacional de Panamá",
    descripcion:
      "Experiencia en como coach, asitente y administradora deportiva.",
  },
];
---

<section id="entrenadores" class="page-content">
  <div class="container mx-auto px-6 py-16">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
      Nuestro Equipo Técnico
      <div class="w-24 h-1 bg-cai-gold mx-auto mt-4"></div>
    </h2>
    <p class="text-xl text-center mb-12 max-w-2xl mx-auto">
      Contamos con un cuerpo técnico altamente calificado y apasionado por la
      enseñanza del fútbol.
    </p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        entrenadores.map((entrenador) => (
          <div class="info-card text-center " style="min-height: 370px;">
            <img
              src={entrenador.foto}
              alt={`Foto de ${entrenador.nombre}`}
              class="w-32 h-32 mx-auto mb-4 rounded-full border-2 border-cai-gold object-cover"
              onerror="this.onerror=null; this.src='https://placehold.co/150x150/cccccc/ffffff?text=Foto';"
            />
            <h3 class="text-xl font-semibold mb-1 text-white">
              {entrenador.nombre}
            </h3>
            <p class="text-sm text-cai-gold mb-3">{entrenador.cargo}</p>
            <p class="text-sm leading-relaxed">"{entrenador.descripcion}"</p>
          </div>
        ))
      }
    </div>
    <div class="flex justify-center mt-8">
      <a
        href="/"
        class="inline-block bg-yellow-500 hover:bg-yellow-700 text-black text-lg font-bold py-4 px-8 rounded-full transition-colors duration-300"
      >
        Ver equipo técnico
      </a>
    </div>
  </div>
</section>
